<nav class="bg-zinc-950 w-full px-8">
  <div class="max-w-5xl flex justify-between mx-auto py-4 items-center">
    <p class="text-2xl font-bold text-zinc-50">MSI</p>
    <ul class="flex gap-4 text-zinc-50">
      <li><a href="/" class="text-mobp lg:text-deskp hover:text-zinc-300">Home</a></li>
      <li><a href="/categories" class="text-mobp lg:text-deskp hover:text-zinc-300">Categories</a></li>
      <li><a href="/products" class="text-mobp lg:text-deskp hover:text-zinc-300">Products</a></li>
    </ul>
  </div>
</nav>