<nav class="bg-gray-950 w-full px-8">
  <div class="max-w-5xl flex justify-between mx-auto py-4 items-center">
    <p class="text-2xl font-bold text-gray-50">MSI</p>
    <ul class="flex gap-4 text-gray-50">
      <li><a href="/">Home</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
  </div>
</nav>